@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500&display=swap');



* {
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Lora', serif;
}

.nav a{
  background: none;
}

.nav a:hover{
  background: none;
}
   
.nav>a>img {
    width: 150px;
    height: auto;
    padding-top: 21px;
    padding-bottom: 21px;
    margin-left: 71px;
}

body {
    background-image: url("../images/payment/footer-bg.jpg");
    width: 97vw;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


.body {
    display: flex;
    justify-content: space-between;
    background-color: rgb(21 21 21 / 73%);
    width: 73vw;
    margin: auto;
    padding: 42px;
    border-radius: 11px;
    margin-bottom: 43px;
    margin-top: 63px;
}


.menu{
    position: absolute;
    top: 19px;
    right: 65px;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  .sec-center {
    position: relative;
    max-width: 100%;
    text-align: center;
    z-index: 200;
  }
  [type="checkbox"]:checked,
  [type="checkbox"]:not(:checked){
    position: absolute;
    left: -9999px;
    opacity: 0;
    pointer-events: none;
  }
  
  .dropdown:checked + label,
  .dropdown:not(:checked) + label{
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 25px;
    line-height: 2;
    height: 55px;
    transition: all 200ms linear;
    border-radius: 50px;
    width: 55px;
    letter-spacing: 1px;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    text-align: center;
    border: none;
    background-color: #e4c590;
    cursor: pointer;
    color: #102770;
    box-shadow: 0 12px 35px 0 rgba(255,235,167,.15);
  }
  
  .dropdown:checked + label:before,
  .dropdown:not(:checked) + label:before{
    position: fixed;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    z-index: -1;
    cursor: auto;
    pointer-events: none;
  }
  .dropdown:checked + label:before{
    pointer-events: auto;
  }
  .dropdown:not(:checked) + label .fa-solid {
    font-size: 24px;
    transition: transform 200ms linear;
  }
  
  .dropdown:checked + label .fa-solid  {
    transform: rotate(180deg);
    font-size: 24px;
    transition: transform 200ms linear;
  }
  .section-dropdown {
    position: absolute;
    padding: 5px;
    background-color: #1B1C1D;
    top: 70px;
    left: -100px;
    width: 180px;
    border-radius: 4px;
    display: block;
    box-shadow: 0 14px 35px 0 rgba(9,9,12,0.4);
    z-index: 2;
    opacity: 0;
    pointer-events: none;
    transform: translateY(20px);
    transition: all 200ms linear;
  }
  .dark-light:checked ~ .sec-center .section-dropdown {
    background-color: #fff;
    box-shadow: 0 14px 35px 0 rgba(9,9,12,0.15);
  }
  .dropdown:checked ~ .section-dropdown{
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
  }
  .section-dropdown:before {
    position: absolute;
    top: -20px;
    left: 0;
    width: 100%;
    height: 20px;
    content: '';
    display: block;
    z-index: 1;
  }
  .section-dropdown:after {
    position: absolute;
    top: -7px;
    left: 120px;
    width: 0; 
    height: 0; 
    border-left: 8px solid transparent;
    border-right: 8px solid transparent; 
    border-bottom: 8px solid #1B1C1D;
    content: '';
    display: block;
    z-index: 2;
    transition: all 200ms linear;
  }
  .dark-light:checked ~ .sec-center .section-dropdown:after {
    border-bottom: 8px solid #fff;
  }
  
  .menu a {
    position: relative;
    color: #fff;
    transition: all 200ms linear;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 15px;
    border-radius: 2px;
    padding: 5px 0;
    padding-left: 20px;
    padding-right: 15px;
    margin: 2px 0;
    text-align: left;
    text-decoration: none;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    justify-content: space-between;
      -ms-flex-pack: distribute;
  }
  .dark-light:checked ~ .sec-center .section-dropdown a {
    color: #102770;
  }
  a:hover {
    color: #102770;
    background-color: #ffeba7;
  }
  .dark-light:checked ~ .sec-center .section-dropdown a:hover {
    color: #ffeba7;
    background-color: #102770;
  }
  a .uil {
    font-size: 22px;
  }
  .dropdown-sub:checked + label,
  .dropdown-sub:not(:checked) + label{
    position: relative;
    color: #fff;
    transition: all 200ms linear;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 15px;
    border-radius: 2px;
    padding: 5px 0;
    padding-left: 20px;
    padding-right: 15px;
    text-align: left;
    text-decoration: none;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    justify-content: space-between;
      -ms-flex-pack: distribute;
      cursor: pointer;
  }
  .dropdown-sub:checked + label .uil,
  .dropdown-sub:not(:checked) + label .uil{
    font-size: 22px;
  }
  .dropdown-sub:not(:checked) + label .uil {
    transition: transform 200ms linear;
  }
  .dropdown-sub:checked + label .uil {
    transform: rotate(135deg);
    transition: transform 200ms linear;
  }
  .dropdown-sub:checked + label:hover,
  .dropdown-sub:not(:checked) + label:hover{
    color: #102770;
    background-color: #ffeba7;
  }
  .dark-light:checked ~ .sec-center .section-dropdown .for-dropdown-sub{
    color: #102770;
  }
  .dark-light:checked ~ .sec-center .section-dropdown .for-dropdown-sub:hover{
    color: #ffeba7;
    background-color: #102770;
  }
  
  .section-dropdown-sub {
      position: relative;
      display: block;
      width: 100%;
      pointer-events: none;
      opacity: 0;
      max-height: 0;
      padding-left: 10px;
      padding-right: 3px;
      overflow: hidden;
      transition: all 200ms linear;
  }
  .dropdown-sub:checked ~ .section-dropdown-sub{
      pointer-events: auto;
      opacity: 1;
      max-height: 999px;
  }
  .section-dropdown-sub a {
      font-size: 14px;
  }
  .section-dropdown-sub a .uil {
      font-size: 20px;
  }

.left {
    width: 430px;
}

.left_first_top_book {
    margin-top: 17px;
}

.left_first_top_book_div {
    display: flex;
    justify-content: space-between;
    line-height: 33px;
}

.left_first_top {
    margin-bottom: 23px;
}

.left_first_top button {
    background: none; 
    border: none;
    border: .7px solid #e4c590;
    color: #e4c590;
    height: 39px;
    width: 200px;
    font-weight: 500;
    font-size: 17px;
    margin-top: 13px;
    transition: 0.7s ease-out;
    border-radius: 3px;
    cursor: pointer;
}

.left_first_top button:hover {
    background-color: #e4c590;
    color: black;
}

.left_first_top h2{
    font-weight: 400;
    font-size: 26px;
    color: #e4c590;
}


#p_method_upi_space {
    background: none;
    border: none;
    border: 1.7px solid grey;
    height: 33px;
    width: 240px;
    padding-left: 12px;
    display: block;
    margin-left: 29px;
    margin-top: 12px;
    border-radius: 4px;
}

.form_first_child {
    margin-bottom: 23px;
}

input[type=radio] {
  accent-color: #e4c590;
}

#p_method_card_space {
    background: none;
    border: none;
    border: 1.7px solid grey;
    height: 33px;
    width: 240px;
    padding-left: 12px;
    display: block;
    margin-left: 29px;
    margin-top: 12px;
    border-radius: 4px;
}

#p_method_card_space::-webkit-outer-spin-button,
#p_method_card_space::-webkit-inner-spin-button {
    display: none;
}

#p_method_card_exp {
    background: none;
    color: white;
    border: none;
    border: 1.7px solid grey;
    height: 33px;
    width: 107px;
    padding-left: 12px;
    margin-left: 29px;
    margin-top: 12px;
    border-radius: 4px;
}

#p_method_card_ccv {
    background: none;
    border: none;
    border: 1.7px solid grey;
    height: 33px;
    width: 90px;
    padding-left: 12px;
    margin-top: 12px;
    border-radius: 4px;
}




.button {
    background: none;
    border: none;
    border: .7px solid #e4c590;
    color: #e4c590;
    height: 39px;
    width: 160px;
    font-weight: 500;
    font-size: 17px;
    margin-top: 13px;
    transition: 0.7s ease-out;
    border-radius: 3px;
    margin-left: 30px;
    cursor: pointer;
}

.button:hover {
    background-color: #e4c590;
    color: black;
}

.left_first_bottom h2 {
    font-weight: 400;
    font-size: 26px;
    margin-bottom: 17px;
    color: #e4c590;
    transition: 0.5s ease-out;
}


#submit1 {
    display: none;
}



.right {
    width: 325px;
}

.right_top {
    padding-bottom: 10px;
    border-bottom: 0.7px solid #505050;
    ;

}

.right h2 {
    margin-bottom: 15px;
    font-weight: 400;
    font-size: 26px;
    color: #e4c590;
}

.right_top_div {
    line-height: 33px;
}

.right_top :nth-child(1) {
    display: flex;
    justify-content: space-between;
}

.right_top :nth-child(2) {
    display: flex;
    justify-content: space-between;
}

.right_bottom {
    display: flex;
    justify-content: space-between;
    padding-top: 13px;
}

.p_method_upi_main{
    display: none;
}

.p_method_card_main{
    display: none;
}

.left_first_bottom{
    display: none;
}